@model IEnumerable<DBookingSysDemo.Models.BookingStatus>

@{
    ViewData["Title"] = "BookingHistory";
}

<h1>BookingHistory</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.BookingStatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DExecutive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.BookingStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.PickUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DExecutive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
